*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --hour: 156;
    --bkg-color: hsl(var(--hour), 30% 75%);
}

.main-container{
    display: flex;
    justify-content: space-around;
    background-color: darkorange;
    font-size: 2rem;
}

.div-box h1{
    margin-top: 0rem;
}

.box-nav ul{
    display: flex;
    margin-top: 0rem;
    list-style-type: none;
}

.box-nav ul a{
     text-decoration: none;
     gap: 4rem;     
}